{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Your Goals</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Goal</th>
            <th>Target Amount</th>
            <th>Current Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for goal in goals %}
        <tr>
            <td>{{ goal["goal"] }}</td>
            <td>{{ goal["target_amount"] }}</td>
            <td>{{ goal["current_amount"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
            </div>
</div>
{% endblock %}
