{% extends "base.html" %}

{% block title %}View Expenses{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Your Expenses</h2>
        <table id="expensesTable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense["category"] }}</td>
                <td>{{ expense["amount"] }}</td>
                <td>{{ expense["date"] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
<script>
    $(document).ready(function () {
        $('#expensesTable').DataTable({
            responsive: true,
            paging: true,
            searching: true,
            ordering: true,
            lengthChange: true,
            pageLength: 10
        });
    });
</script>
{% endblock %}
